.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.custom-toast {
  background-color: white !important; /* White background */
  border: 2px solid white !important; /* Purple border */
  color: #000 !important; /* Black text */
  border-radius: 8px !important; /* Rounded corners */
}

.custom-toast-error{
  border-color: #db3b41 !important; /* Red border for errors */
}

.custom-toast-success {
  border-color: #28a745 !important; /* Green border for success */
}
